%style
  h1 a { font-size: inherit; }
%h1
  = link_to @virtual_account.name, virtual_account_path(@virtual_account)
  = "(#{@expected_purchase.recipe.name})" if @expected_purchase
%p== Virtual account balance: $#{@virtual_account.balance}

= form_for @purchase do |pur|
  = pur.hidden_field :expected_purchase_id
  = pur.fields_for :virtual_purchases do |vt|
  
    %div.erase_all
      = vt.text_field :amount, :type => :number, :step => '0.01', :min => '0.00', :placeholder => 'Amount'
      %span.erase_all X
    
    %div
      = pur.text_field :memo, :placeholder => 'Memo'
      
      = vt.hidden_field :account_from_id
      
    %div
      = pur.text_field :executed_at, :type => 'datetime'
      
    :javascript
      $(function() {
        var available_vendors = #{@vendors.map(&:name).to_json.html_safe};
        $('#purchase_vendor_name').autocomplete({
          source: available_vendors
        });
        $('span.erase_all').bind('click', function() { $(this).parent().find('input').val('').focus(); });
        $('div.erase_all').hover(function() {  });
      });
      
    %div.erase_all
      = pur.text_field :vendor_name, :placeholder => 'Payee'
      %span.erase_all X

  %div
    = pur.select :account_from_id, @spending_accounts.map{ |a| [a.name, a.id] }, :selected => @virtual_account.primary_spending_account.id
  
  %label &nbsp;
  %br
  = pur.submit 'Submit'
  
:javascript
  $(function(){
    $('#physical_transaction_virtual_transactions_attributes_0_amount').mouseup(function() { $(this).select(); });
  });
