%h1
  = @account.name
  - if @account.is_a? VirtualAccount
    = link_to 'Make new purchase', new_purchase_from_virtual_account_path(@account)
  
%table
  %tr
    %th Date
    %th Description
    %th Amount
    - if @iphone.nil?
      %th Balance

  - @account.transactions.each_with_index do |trans, i|
    %tr.transaction{ :class => cycle('odd', 'even'), 'attr-href' => computed_transaction_path(trans) }
      %td.date= trans.executed_at.strftime '%m/%d'
      %td.description= transaction_description trans, @account.id
      %td.amount= display_amount trans, @account.id
      - if @iphone.nil?
        %td.balance= display_money @account.running_balances[i]

  - if @iphone.nil?  
    %tr{ :class => cycle('odd', 'even') }
      %td
      %td.description
        %span.title Initial Balance
      %td
      %td.balance= display_money @account.initial_balance
      
:css
  tr { height: 2.2em; }

:javascript
  $(function() {
    $('tr.transaction').click(function() {
      window.location = $(this).attr('attr-href');
    });
  });
